.subHeading{
    font-weight: 700;
    letter-spacing: 4px;
    color: #FBD784;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    &::before{
        content: '';
        display: block;
        width: 3.5rem;
        height: 2px;
        background-color: #FBD784;
    }
    &.typeTwo{
        &::after{
            content: '';
            display: block;
            width: 3.5rem;
            height: 2px;
            background-color: #FBD784;
        }
    }
}

@media (max-width: 768px) {
    .subHeading {
        font-size: 0.8rem;
    }
}