.team{
    background-image: url("/teamBg.png");
    background-size: cover;
    background-position: bottom;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 4rem;
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #0B1D26 0%, rgba(41, 107, 140, 0) 100%);
        // backdrop-filter: blur(4px);
    }
}

@media (max-width: 1300px) {
    .team {
        &::before{
            background: linear-gradient(90deg, #0B1D26 0%, rgba(41, 107, 140, 0.4) 100%);
        }
    }
}