.hero{
    height: 120vh;
    background-image: url('/heroBg.png');
    background-position: 0 20%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .content{
        position: absolute;
        left: 20%;
        top: 7rem;
        width: 40%;
        h1{
            font-size: 3.5rem;
            font-weight: 600;
            color: #fff;
            margin: 1.7rem 0;
            word-break: break-word;
        }
        button{
            background: none;
            outline: none;
            border: none;
            font-weight: 600;
            font-size: 1rem;
            color: #fff;
            cursor: pointer;
            margin-left: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            border: 3px solid #fff;
            border-radius: 1rem;
            padding: 0.4rem 1rem;
        }
    }
}

@media (max-width: 1020px) {
    .hero {
        .content {
            padding: 1rem;
            backdrop-filter: blur(3px);
            border: 2px solid #ffffff2b;
            border-radius: 1rem;
            width: 80%;
            left: 10%;
            h1{
                font-size: 2.5rem;
            }
            button{
                font-size: 0.8rem;
            }
        }
    }
}

@media (min-width: 1020px) {
    .hero {
        .content {
            button{
                backdrop-filter: blur(3px);
            }
        }
    }
}