.messageForm{
    background: #E7F2F8;
    padding: 5rem 0;
    padding-top: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    *{
        text-align: center!important;
    }
    .content{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #3893B8
    }
    h1, p, h3{
        color: #366951!important;
    }
    h3::before, h3::after{
        background-color: #366951!important;
    }
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1.2rem;
    }
    form{
        width: 90%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        gap: 1rem;
        margin-top: 3rem;
        h3{
            text-align: left!important;
            font-size: 1.2rem;
            font-weight: 300;
        }
        .left, .right{
            width: 50%;
        }
        .row{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            .inputGroup{
                width: 50%;
            }
        }
        .inputGroup{
            position: relative;
            margin: 0.7rem 0;
            label{
                position: absolute;
                top: 0.1rem;
                left: 0.5rem;
                color: #585858;
                font-size: 0.6rem;
            }
            input, textarea{
                border: none;
                box-shadow: 0px 8px 32px 0px #E7F2F8;
                border-radius: 1rem;
                background: #fff;
                padding: 1rem 0 0.2rem 1rem;
                height: 2.6rem;
                font-size: 0.9rem;
                outline: none;
                text-align: left!important;
                width: 100%;
            }
            textarea{
                height: 10.6rem;
                resize: none;
            }
        }
        button{
            position: absolute;
            bottom: -2.5rem;
            right: 0;
            background: #366951;
            color: #fff;
            border: none;
            border-radius: 1rem;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                background: #3893B8;
            }
        }
    }
}

@media (max-width: 1000px) {
    .messageForm {
        .content {
            width: 90%;
        }
    }
}

@media (max-width: 780px) {
    .messageForm {
        form{
            flex-direction: column;
            .left, .right{
                width: 100%;
            }
        }
    }
}

@media (max-width: 500px) {
    .messageForm {
        form{
           .row{
                flex-direction: column;
                gap: 0;
                .inputGroup{
                    width: 100%;
                }
           }
        }
    }
}