.contactBanner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    padding: 10rem 0 1rem 0;
    position: relative;
    *{
        text-align: center;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        width: 50%;
        h1{
            font-size: 2.5rem;
            font-weight: 600;
            margin: 1.7rem 0;
        }
        p{
            font-size: 1rem;
            margin-bottom: 3rem;
            line-height: 1.6rem;
        }
        button{
            cursor: pointer;
            text-align: center;
            font-size: 0.8rem;
            font-weight: 700;
            padding: 0.4rem 2rem;
            background: transparent;
            color: #fff;
            outline: none;
            border: none;
            p{
                font-size: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
    .cards{
        padding: 0 7rem;
        width: 100%;
        z-index: 50;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        &::-webkit-scrollbar {
            height: 8px; /* Height of the scrollbar */
        }
        &::-webkit-scrollbar-track {
            background: #E7FFF533; /* Background color of the scrollbar track */
            border-radius: 10px; /* Rounded corners */
        }
        &::-webkit-scrollbar-thumb {
            background: #36695195; /* Color of the scrollbar thumb */
            border-radius: 10px; /* Rounded corners */
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #366951; /* Lighter color when hovered */
        }
    }
}

@media (max-width: 1310px) {
    .contactBanner {
        .cards {
            overflow-x: scroll;
            justify-content: flex-start;
            padding: 0;
            width: 95%;
            left: 2.5%;
            padding-bottom: 1.5rem;
        }
    }
}

@media (max-width: 1000px) {
    .contactBanner {
        .content {
            width: 90%;
        }
    }
}

@media (max-width: 600px) {
    .contactBanner {
        .content {
            h1 {
                font-size: 1.8rem;
            }
            p {
                font-size: 0.85rem;
            }
        }
    }
}