.faq{
    background: #E7F2F8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding: 0 10rem;
    flex-direction: column;
    h1{
        font-size: 2rem;
        color: #366951;
    }
    .list{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        margin: 2rem 0;
    }
}