.communityList{
    background: #0c1e27;
    padding: 0 10rem;
    .filter{
        transform: translateY(-17rem);
        input{
            width: 100%;
            border-radius: 1rem;
            background: #E7FFF533;
            height: 2.5rem;
            border: 1px solid #ffffff40;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            text-align: left;
            color: #fff;
            padding-left: 3rem;
            outline: none;
            font-size: 1.2rem;
            &::placeholder{
                color: #ffffff80;
                font-weight: 500;
                
            }
        }
        .input{
            position: relative;
            label{
                position: absolute;
                top: calc(1.25rem - 12px);
                left: 1rem;
            }
        }
        .searchBtn{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-30%, -50%);
            border: none;
            outline: none;
            padding: 0.4rem 1rem;
            background: #0c1e27;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            box-shadow: 0 2px 3px #00000038;
            border-radius: 0.5rem;
        }
    }
    .cards{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: auto;
        gap: 1.5rem;
        height: 11rem;
        padding: 0 0.5rem;
        &::-webkit-scrollbar {
            height: 8px; /* Height of the scrollbar */
        }
        &::-webkit-scrollbar-track {
            background: #E7FFF533; /* Background color of the scrollbar track */
            border-radius: 10px; /* Rounded corners */
        }
        &::-webkit-scrollbar-thumb {
            background: #ffffff80; /* Color of the scrollbar thumb */
            border-radius: 10px; /* Rounded corners */
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #ffffffb3; /* Lighter color when hovered */
        }
    }
    .filterCard{
        display: flex;
        gap: 0.8rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 2rem;
        background: #E7FFF533;
        border: 1px solid #ffffff40;
        width: 11rem;
        padding: 0.8rem 0;
        flex-shrink: 0;
        cursor: pointer;
        h4{
            font-weight: 500;
            color: #fff;
            font-size: 1.4rem;
        }
        p{
            font-size: 2.1rem;
            color: #fff;
            font-weight: 600;
        }
        &.active {
            border: 5px solid #fff;
            h4 {
                font-weight: 600;
            }
            p {
                font-weight: 700;
            }
        }
    }
    .list{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
        transform: translateY(-10rem);
    }
}

@media (max-width: 1320px) {
    .communityList {
        padding: 0 2rem;
    }
}

@media (max-width: 1070px) {
    .communityList {
        .cards {
            justify-content: flex-start;
            
        }
    }
}