.footerBanner{
    height: 80vh;
    position: relative;
    *{
        text-align: center;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        width: 50%;
        h1{
            font-size: 2.5rem;
            font-weight: 600;
            margin: 1.7rem 0;
        }
        p{
            font-size: 1rem;
            margin-bottom: 3rem;
            line-height: 1.6rem;
        }
        button{
            cursor: pointer;
            border-radius: 2rem;
            text-align: center;
            font-size: 0.8rem;
            font-weight: 700;
            border: 1px solid #FBD784;
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
            padding: 0.4rem 2rem;
            background: transparent;
            background: #FBD784;
            color: #2A5251;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3rem;
            width: 12rem;
            p{
                font-size: 1rem;
                margin-bottom: 0;
            }
        }
    }
}