.navigationHeader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #FFFFFF33;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    height: 3.5rem;
    padding: 0 3rem;
    backdrop-filter: blur(8px) brightness(0.9);
    .logo{
        width: 6.2rem !important;
        height: initial!important;
        position: relative!important;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        list-style-type: none;
        a{
            text-decoration: none;
            color: #fff;
            font-size: 1rem;
            &.active{
                color: #FBD784;
            }
        } 
        .activeNavLink {
            color: #FBD784; 
        }
    }
    button{
        cursor: pointer;
        border-radius: 2rem;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 700;
        border: 1px solid #FBD784;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
        padding: 0.4rem 2rem;
        background: transparent;
        background: #FBD784;
        color: #2A5251;
    }
    .responsive, .hamburger{
        display: none;
    }
    .hamburger{
        cursor: pointer;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.3rem;
        z-index: 1000;
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        position: fixed;
        right: 2rem;
        z-index: 1001;
        .line{
            width: 2rem;
            height: 0.25rem;
            background: #fff;
            border-radius: 1rem;
            transition: all 0.3s ease-in-out;
        }
        &.open{
            .line:nth-child(1){
                transform: translateY(0.55rem) rotate(-45deg) ;
            }
            .line:nth-child(2){
                opacity: 0;
            }
            .line:nth-child(3){
                transform: translateY(-0.5rem) rotate(45deg) ;
            }
        }
    }
}

@media (max-width: 1000px) {
    .navigationHeader {
        .listPc{
            display: none;
        }
        .hamburger{
            display: flex;
        }
        .responsive{
            transform: translateX(100vw);
            transition: all 0.3s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 2rem;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background: #2A5251;
            z-index: 1000;
            &.open{
                transform: translateX(0);
            }
            ul{
                flex-direction: column;
            }
        }
    }

}